/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    background-color: #083b4c;
}

.center-box {
    width: 90%;
    max-width: 87.5rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 1.25rem;
}

h1 {
    color: white;
    padding: 5rem;   
    font-size: 7vw;
}

.unstyled-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    row-gap: 1.5vw;
}

.unstyled-list li {
    font-size: 1.5625rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.76); 
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.76);
    text-overflow: ellipsis;
}

.number {
    background-color: #1389b2;
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}